* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;

}
.modern-gradient {
  background-image: 
    conic-gradient(
      from 0deg at 49% 49% in oklch longer hue,
      oklch(70% .3 0) 0%, oklch(70% .3 0) 100%
    )
  ;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}